{
  "editor.formatOnSave": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "jest.autoEnable": true,
  "python.testing.pytestEnabled": true,
  "python.testing.unittestEnabled": false,
  "python.defaultInterpreterPath": "./venv/bin/python",
  "files.exclude": {
    "**/node_modules": true,
    "**/__pycache__": true,
    "**/coverage": true,
    "**/.pytest_cache": true
  },
  "cSpell.words": [
    "ABOUTME"
  ]
}